
#cardList {
    border: 10px solid black;
}

body, html {
  height: 100%;
}

.bg { 
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup {
  background: #222;
  color: white;
}

#logout {
  /* background: grey; */
  background-image: url('https://lindaursin.net/wp-content/blogs.dir/26/files/2015/03/2-unicursal-hexagram-scan-contrast2-1080x764.jpg');
  /* margin: auto; */
}

#nav-bar {
  background: rgb(194, 200, 204);
  margin: 0;
  border-radius: 0;
  color: white;
}

#navButton {
  color: white;
  margin: auto;
}

.new-reading-container {
  background-image: url('http://www.luisasempere.com/wp-content/uploads/2017/02/green-leaves-dark-floral-wallpaper-right-here-high-quality-shocking-collection-vertically-hung-premium-material-featured-scenes.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* http://www.luisasempere.com/wp-content/uploads/2017/02/green-leaves-dark-floral-wallpaper-right-here-high-quality-shocking-collection-vertically-hung-premium-material-featured-scenes.jpg */
/* http://bonitos.club/wp-content/uploads/2018/01/black-floral-fabric-fabric-freedom-black-ditsy-floral-black-floral-fabric-uk.jpg */
/* http://bonitos.club/wp-content/uploads/2018/01/black-floral-fabric-like-this-item-floral-print-fabric-with-black-background.jpg */

.reading-grey-box {
  display: block;
  margin: auto;
  background: rgba(125, 131, 134, 0.5);
  color: white;
}

/* .new-reading-container h1 {
  display: block;
  margin: auto;
  background: rgba(125, 131, 134, 0.5);
  color: white;
}

.new-reading {
  display: block;
  margin: auto;
  background: rgba(125, 131, 134, 0.5);
  width: 200px;
} */

.new-reading a {
  color: white;
}


.reading-splash {
  background-image: url('https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fpeopledotcom.files.wordpress.com%2F2017%2F08%2Ftarot-cards.jpg%3Fw%3D2000&w=1600&q=70');
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reading-splash .splash-header {
  margin: auto;
  background: rgba(78, 83, 83, 0.589);
  width: 400px;
  height: 100px;
}

.reading-splash .splash-header a {
  color: lightgrey;
  margin: auto;
}


.reading-splash .splash-header a:hover {
  animation: cubic-bezier(0.075, 0.82, 0.165, 1);
  color: rgb(110, 173, 175);

}

.new-reading-container {
  min-height: 600px;
  /* width: 100%; */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  /* display: flex; */
  overflow-x: auto;
  min-width: 100%;
  min-height: 200px;
}

.image-card {
  min-width: 200px;
  margin: 5px;
}


.my-modal {
  margin-top: 300px;
  width: 100%;
  height: 400px;
  overflow: scroll;
}

.my-modal img {
 float: left;
 left: 0px;

}

.horizontal-scroll {
  color: white;
  max-width: 100%;
  max-height: 600px;
  /* margin: 10px auto; */
  background: rgb(49, 86, 99);
  border: 2px solid #000;
  display: flex;
  align-content: center;
  overflow-x: scroll;
  white-space: normal;
}