body {
  /* margin: 0;
  padding: 0;
  font-family: sans-serif; */
}

/* .index {
  background-image: url('http://media.beliefnet.com/~/media/photos-with-attribution/spiritual/tarotcardscreditShutterstockcom.jpg?as=1');
  height: 100%;
} */
