
#cardList {
    border: 10px solid black;
}


  #my-card {
    color: white;
    background-image: url('https://blog-cdn.californiapsychics.com/blog/wp-content/blogs.dir/1/files/2018/07/weekly-tarot-reading_20180722_600x320.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* text-decoration-color: #000;
    text-shadow: black; */
    height: 400px;
    width: 500px;
    overflow: auto;
    border: 3px solid black;
  }

  .horizontal-scroll-wrapper {
    max-width: 100%;
    max-height: 600px;
    /* margin: 10px auto; */
    background: rgb(74, 80, 82);
    border: 2px solid #000;
    display: flex;
    align-content: center;
    overflow-x: scroll;
    white-space: normal;
  }

  .card-image {
    height: 400px;
    width: 300px;
  }

  .card-list {
    background-image: url('https://blog-cdn.californiapsychics.com/blog/wp-content/blogs.dir/1/files/2018/07/weekly-tarot-reading_20180722_600x320.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }